
<div     class="withoutPaddingOrMargin  " >
    <div  class="oj-panel oj-bg-info-30">
        <h4   class="oj-header-border">
            <oj-bind-text>
                Upload Map Captured Image
            </oj-bind-text>
        </h4>
        <div class="oj-flex">
            <div id="form-container">
                <div class="ContentBeside">
                    <oj-file-picker accept='["image/*"]' id="myFile"
                                    class="demo-max-width-25em"
                                    selection-mode="single"
                                    on-oj-select='[[selectFiles]]'>

                    </oj-file-picker>
                </div>
                <div class="ContentBeside oj-sm-padding-1x-top">
                    Image file name:
                    <oj-bind-text value="[[fileNames]]"></oj-bind-text>
                    <br />

                    <oj-button id="deleteButton" chroming="borderless"
                               on-oj-action="[[uploadMapImage]]">
                        Upload Now
                        <span slot="endIcon" class="oj-ux-ico-upload"></span>

                    </oj-button>
                    <br />
                    <oj-bind-text value="[[fileNames]]"></oj-bind-text>
                </div>
                <div class="ContentBeside oj-sm-padding-1x-top">
                    <img role="img" :src="[[imagePath]]" width="85%"></img>
                </div>
            </div>

            <hr  class="oj-header-border" />
                
        
            <div >
                <oj-label-value label-edge="start" label-width="30%">
                    <oj-label slot="label" id="radiosetlabel">
                        Choose the process you want to apply
                    </oj-label>
                    <oj-radioset slot="value" id="radioSetId" labelled-by="radiosetlabel"
                               value="red" class="oj-choice-direction-row">
                        <oj-option id="blueopt" value="blue">Normal Tesseract Reading</oj-option>
                        <oj-option id="greenopt" value="green">Tesseract Reading Details</oj-option>
                        <oj-option id="redopt" value="red">Results Accuracy</oj-option>
                        <oj-option id="limeopt" value="lime">Apply changes to the image </oj-option>
                        <oj-option id="aquaopt" value="aqua">Results Accuracy After changes</oj-option>
                    </oj-radioset>
                </oj-label-value>
            </div>
        </div>
</div>