
<div class="oj-hybrid-padding">
  <h1>About Content Area</h1>
  <div>
      <div>
          <form class="layui-form" action="">
              <div class="layui-form-item">
                  <div class="layui-inline">
                      <label class="layui-form-label">lat</label>
                      <div class="layui-input-inline">
                          <input type="text" name="lat" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-inline">
                      <label class="layui-form-label">lon</label>
                      <div class="layui-input-inline">
                          <input type="text" name="lon" autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-inline">
                      <label class="layui-form-label">tileZoom</label>
                      <div class="layui-input-inline">
                          <input type="tel" name="tileZoom" autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-inline">
                      <label class="layui-form-label">multi</label>
                      <div class="layui-input-inline">
                          <input type="tel" name="multi" autocomplete="off" class="layui-input">
                      </div>
                  </div>

                  <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo11">get map</button>
                  <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo12">zoom in </button>

              </div>

          </form>
          <div class="layui-row" id="test1">

          </div>
          <div class="layui-row" id="test2">

          </div>


      </div>
      To change the content of this section, you will make edits to the about.html file located in the /js/views folder.
  </div>
</div>
<script src="css/layui/layui.js"></script>